@font-face {
    font-family:'DM Sans Medium';
    src: url('../fonts/dm-sans/dm-sans-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}


@font-face {
    font-family:'DM Sans Regular';
    src: url('../fonts/dm-sans/dm-sans-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

@font-face {
    font-family:'DM Sans Bold';
    src: url('../fonts/dm-sans/dm-sans-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

