$primarySmallTextColor:#907E82;
$whiteTextColor:#FFFFFF;
$blackTextColor:#000000;
$accentColor: #D41443;
$titlePinkColor:#FFA5BA;
$primaryBgColor: #FFF5F6;
$lightPinkColor: #FFB8CA;
$whiteBgColor:#E5E5E5;
$yellowColor: #F0D1A5;
$greenColor:#C2E297;
