$primarySmallTextColor: #907e82;
$whiteTextColor: #ffffff;
$blackTextColor: #000000;
$accentColor: #d41443;
$titlePinkColor: #ffa5ba;
$primaryBgColor: #fff5f6;
$lightPinkColor: #ffb8ca;
$whiteBgColor: #e5e5e5;
$yellowColor: #f0d1a5;
$greenColor: #c2e297;
$btnAccentColor: #ecebeb;
$sectionProductsColor: #fafafa;
