<section class="reviews">
  <div class="container">
    <h1 class="visually-hidden">Customer reviews</h1>
    <div class="slider">
      <div class="slider__item">
        <img
          srcset="
            ./images/mobile/customer-photo1x-min.png 1x,
            ./images/mobile/customer-photo2x-min.png 2x
          "
          src="./images/mobile/customer-photo1x-min.png"
          alt="фото клиента"
        />
        <div class="slider__wrap">
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slider__name">Emily, Los Angeles</p>
      </div>
      <div class="slider__item">
        <img
          srcset="./images/mobile/customer2.png 1x, ./images/mobile/customer2_2x.png 2x"
          src="./images/mobile/customer2.png"
          alt="фото клиента"
        />
        <div class="slider__wrap">
          <p class="slider__text">
            At velit nulla vel dignissimos earum totam quae suscipit praesentium impedit atque
            recusandae beatae pariatur molestias
          </p>
        </div>
        <p class="slider__name">Anna, New York</p>
      </div>
      <div class="slider__item">
        <img
          srcset="./images/mobile/customer3.png 1x, ./images/mobile/customer3_2x.png 2x"
          src="./images/mobile/customer3.png"
          alt="фото клиента"
        />
        <div class="slider__wrap">
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slider__name">Kate, San Francisco</p>
      </div>
    </div>
  </div>
</section>
