<section>
  <footer class="footer container">
    <div class="footer-title">
      <span class="footer-title-one">homemade ice cream <br /></span>

      <span class="footer-title-two">made with passion</span>
    </div>

    <div class="footer-social">
      <ul class="list join-social-list">

        <li class="join-social-item">
          <a href="" class="join-social-link">
            <svg class="join-social-icon" width="19" , height="19">
              <use href="images/sprite.svg#icon-git"></use>
            </svg>
          </a>
        </li>

            <li class="join-social-item">
              <a href="" class="join-social-link">
                <svg class="join-social-icon" width=19" , height="15">
                  <use href="images/sprite.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>

            <li class="join-social-item">
              <a href="" class="join-social-link">
                <svg class="join-social-icon" width="9" height="19">
                  <use href="images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
    <div>
      <p class="copy">2019 - IceCream. All Rights Reserved.</p>
    </div>
  </footer>
</section>
