<section class="footer">
  <footer class="container">
    <div class="tablet-wrap">
      <div class="footer-title">
        <span class="footer-title-one">homemade ice cream made</span>
        <span class="footer-title-two">
          with <br />
          passion</span
        >
      </div>

      <div class="social-contact-wrap">
        <!-- <div class="footer-social"> -->
        <ul class="list join-social-list">
          <li class="join-social-item">
            <a href="https://github.com/" target="blank" class="join-social-link github-logo">
              <svg class="join-social-icon" width="19" , height="19">
                <use href="images/sprite.svg#icon-git"></use>
              </svg>
            </a>
          </li>

          <li class="join-social-item">
            <a href="https://telegram.org/" target="blank" class="join-social-link">
              <svg class="join-social-icon telegram-logo" width="19" , height="15">
                <use href="images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>

          <li class="join-social-item">
            <a
              href="https://www.facebook.com/"
              target="blank"
              class="join-social-link facebook-logo"
            >
              <svg class="join-social-icon" width="9" height="19">
                <use href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <!-- </div> -->

        <div class="footer-contact">
          <span class="contact-text">Feel free to contact</span>

          <a class="contact-number" href="call:610383766284"> +61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
  </footer>
  <div class="copy">
    <p class="copy-text">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</section>
