<section>
  <footer class="footer">
    <span>homemade ice cream <br /></span>

    <span>made with passion</span>
    

    <div class="socials-bottom socials-bottom--margin-left">
      <ul class="list join-social-list">

            <li class="join-social-item">
              <a href="" class="join-social-link">
                <svg class="join-social-icon" width="20" , height="20">
                  <use href="./images/icons.svg#icon-instagram-2-1"></use>
                </svg>
              </a>
            </li>

            <li class="join-social-item">
              <a href="" class="join-social-link">
                <svg class="join-social-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter-1-1"></use>
                </svg>
              </a>
            </li>

            <li class="join-social-item">
              <a href="" class="join-social-link">
                <svg class="join-social-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook-1-1"></use>
                </svg>
              </a>
            </li>

      </ul>
    <div>
      <p class="copy">2019 - IceCream. All Rights Reserved.</p>
    </div>
  </footer>
</section>
