<section class="gallery">
  <div  class="container">
<h2 class="visually-hidden">Gallery</h2>
<ul class="gallery__grid list">
  <li class="gallery__item  gallery__item--1">
    <picture class="gallery__img">
                <source srcset="images/gallery/vector-morozhenoe-raznotsvetnii-uzori-tekstura-123096_1.jpg"
                >
              <img src="images/gallery/vector-morozhenoe-raznotsvetnii-uzori-tekstura-123096_1.jpg" alt=""/>
    </picture>
  </li>
  <li class="gallery__item  gallery__item--2">
    <picture class="gallery__img">
                <source srcset="images/gallery/textures-morozhenoe-uzori-pattern-neon-sladkoe-92867_1.jpg"
                >
              <img src="images/gallery/textures-morozhenoe-uzori-pattern-neon-sladkoe-92867_1.jpg" alt=""/>
    </picture>
  </li>
  <li class="gallery__item  gallery__item--3">
    <picture class="gallery__img">
                <source srcset="images/gallery/food-tort-desert-sladkoe-slivki-shokolad-130584_1.jpg"
                >
              <img src="images/gallery/food-tort-desert-sladkoe-slivki-shokolad-130584_1.jpg" alt=""/>
    </picture>
  </li>
  <li class="gallery__item  gallery__item--4">
    <picture class="gallery__img">
                <source srcset="images/gallery/food-morozhenoe-vaflya-ruka-desert-tatu-chernii-99080_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-vaflya-ruka-desert-tatu-chernii-99080_1.jpg" alt=""/>
    </picture>
  </li>
  <li class="gallery__item  gallery__item--5">
    <picture class="gallery__img">
                <source srcset="images/gallery/food-morozhenoe-vaflya-klubnika-desert-53020_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-vaflya-klubnika-desert-53020_1.jpg" alt=""/>
    </picture>
  </li>
  <li class="gallery__item  gallery__item--6 ">
    <picture class="gallery__img">
                <source srcset="images/gallery/food-morozhenoe-vaflya-chernika-limon-frukti-dolki-98851_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-vaflya-chernika-limon-frukti-dolki-98851_1.jpg" alt=""/>
    </picture>
  </li>
  <li class="gallery__item  gallery__item--7">
    <picture class="gallery__img">
                <source srcset="images/gallery/food-morozhenoe-rozhok-lavanda-desert-89892_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-rozhok-lavanda-desert-89892_1.jpg" alt=""/>
    </picture>
  </li>
  <li class="gallery__item  gallery__item--8">
    <picture class="gallery__img">
                <source srcset="images/gallery/food-morozhenoe-rozhok-desert-lavanda-94293_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-rozhok-desert-lavanda-94293_1.jpg" alt=""/>
    </picture>
  </li>
   <li class="gallery__item  gallery__item--9">
    <picture class="gallery__img">
                <source srcset="images/gallery/866021903_w640_h640_frizernoe-myake-morozivo.jpg"
                >
              <img src="images/gallery/866021903_w640_h640_frizernoe-myake-morozivo.jpg" alt=""/>
    </picture>
  </li>
  <li class="gallery__item  gallery__item--10">
    <picture class="gallery__img">
                <source srcset="images/gallery/depositphotos_18082633-stock-photo-assorted-ice-cream.jpg"
                >
              <img src="images/gallery/depositphotos_18082633-stock-photo-assorted-ice-cream.jpg" alt=""/>
    </picture>
  </li>
</ul>
</div>
</section> 
