<section class="gallery">
<h2 class="visually-hidden">Gallery</h2>
<div class="item-masonry sizer4">
<picture>
                <source srcset="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg" alt="" width="150" />
            </picture>
            <picture>
                <source srcset="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg" alt="" width="150" />
            </picture><picture>
                <source srcset="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg" alt="" width="150" />
            </picture><picture>
                <source srcset="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg" alt="" width="250" />
            </picture><picture>
                <source srcset="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg" alt="" width="150" />
            </picture><picture>
                <source srcset="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg" alt="" width="150" />
            </picture><picture>
                <source srcset="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg" alt="" width="150" />
            </picture><picture>
                <source srcset="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg" alt="" width="150" />
            </picture><picture>
                <source srcset="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg"
                >
              <img src="images/gallery/food-morozhenoe-pirozhnoe-desert-yagodi-98246_1.jpg" alt="" width="150" />
            </picture>
          </div>
</section> 
<script src="js/common.js"></script>
<script src="js/imageloaded.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
