<header id="header" class="header">
  <div class="header__section container">
    <div class="header__logo">
      <picture>
        <source srcset="images/logox1.png 1x, images/logox2.png 2x" />
        <img
          class="header-logo__img"
          src="images/logox1.png"
          alt="logo icecream"
          width="199"
          height="50"
        />
      </picture>
    </div>
    <!-- <div class="header__burger">
      <span></span>
    </div> -->

    <nav class="header__navigation">
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a class="navigation__link link" href="#header">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#about">About us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#made">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#products">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-button-open" aria-expanded="true">
      <svg class="open-icon" width="40" height="40">
        <use class="" href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <!-- <button class="header__btn btn" type="button" data-modal-open>Buy now ></button> -->
    <button class="header__btn btn" type="button" data-modal-open>
      Buy now
      <svg class="contact-btn__icon--pink" width="7" height="11">
        <use href="./images/sprite.svg#icon-arrow-pink"></use>
      </svg>
    </button>

    <div class="header__list is-hidden">
      <button type="button" class="menu-button-close" header_list>
        <svg width="20" height="20">
          <use class="close-cross" href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <button class="header__mob-btn btn" type="button" mobile-modal-open>Buy now ></button>
      <ul class="list">
        <li class="header__item">
          <a class="header__link link" href="#header">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#about">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#made">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#products">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
