<header class="header">
  <div class="header__section container">
    <div class="header__logo">
      <picture>
        <source srcset="images/logox1.png 1x, images/logox2.png 2x" />
        <img
          class="header-logo__img"
          src="images/logox1.png"
          alt="logo icecream"
          width="199"
          height="50"
        />
      </picture>
    </div>
    <div class="header__burger">
      <span></span>
    </div>

    <nav class="header__navigation">
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a class="navigation__link link" href="#header">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#about">About us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#made">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#products">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header__btn btn" type="button" data-modal-open>Buy now ></button>
    <!-- 
      <div class="header__btn-section btn">
        <button class="header__btn" type="button">Buy now ></button>
      </div>
      <ul class="header__list list">
        <li class="header__item">
          <a class="header__link link" href="#header">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#about">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#made">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#products">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#contacts">Contact</a>
        </li>
      </ul> -->

    <!-- <div class="header__btn-section btn">
      <button class="header__btn" type="button">Buy now ></button>
    </div> 

    --!-<button
      class="menu-toggle menu-toggle__header js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu__icon-menu" width="20" height="12" fill="currentColor">
        <use href="images/sprite.svg#icon-Burger"></use>
      </svg></button
    >-->
  </div>
</header>
