<div class="hero__box">
  <picture>
    <source
      srcset="
        ./images/desctop/desctop-ice-hero1x-min.png 1x,
        ./images/desctop/desctop-ice-hero2x-min.png 2x
      "
      media="(min-width: 1200px)"
    />
      <source
      srcset="
        ./images/tablet/tablet-ice-hero1x-min.png 1x,
        ./images/tablet/tablet-ice-hero2x-min.png 2x
      "
      media="(min-width: 768px) and (max-width: 1199.5px)"
    />
    <source
      srcset="
        ./images/mobile/ice-cream-hero1x.png 1x,
        ./images/mobile/ice-cream-hero2x.png 2x
      "
      media="(max-width: 767px)"
    />  
   <img
      class="hero-icecream__img"
      src="./images/mobile/ice-cream-hero1x.png"
      alt="icecream"
      width="171"
      height="410"
    />
  </picture> 
</div>
