<section class="hero">
  <div class="hero__section container">
    <div class="hero__box animated bounceInDown">
      <picture>
        <source
          srcset="
            images/desctop/desctop-ice-hero1x-min.png 1x,
            images/desctop/desctop-ice-hero2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            images/tablet/tablet-ice-hero1x-min.png 1x,
            images/tablet/tablet-ice-hero2x-min.png 2x
          "
          media="(min-width: 768px) and (max-width: 1199.5px)"
        />
        <source
          srcset="images/mobile/ice-cream-hero1x.png 1x, images/mobile/ice-cream-hero2x.png 2x"
          media="(max-width: 767px)"
        />
        <img class="hero-icecream__img" src="images/mobile/ice-cream-hero1x.png" alt="icecream" />
      </picture>
    </div>
    <div class="hero__title animated bounceInRight">
      <h1 class="hero__text">
        ice cream made with <span class="hero__text--different"> passion</span>
      </h1>
      <div class="hero__btn-section">
        <a class="hero__btn btn-products btn btn--pink" href="#products">Products</a>
        <a class="hero__btn btn" href="#made">How it’s made?</a>
      </div>
    </div>
    <div class="hero-milk animated bounceInUp">
      <picture>
        <source
          srcset="
            images/desctop/desctop-milk-hero1x-min.png 1x,
            images/desctop/desctop-milk-hero2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            images/tablet/tablet-milk-hero1x-min.png 1x,
            images/tablet/tablet-milk-hero2x-min.png 2x
          "
          media="(min-width: 768px) and (max-width: 1199.5px)"
        />
        <img class="hero-milk__img" src="images/tablet/tablet-milk-hero1x-min.png" alt="milk" />
      </picture>
      <div class="milk-text-section">
        <p class="hero-milk__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="button-arrow" type="button"></button>
      </div>
    </div>
    <picture class="hero-girl__img animated bounceInUp">
      <source
        srcset="
          images/desctop/desctop-girl-hero1x-min.png 1x,
          images/desctop/desctop-girl-hero2x-min.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          images/tablet/tablet-girl-hero1x-min.png 1x,
          images/tablet/tablet-girl-hero2x-min.png 2x
        "
        media="(min-width: 768px) and (max-width: 1199.5px)"
      />
      <img src="images/tablet/tablet-girl-hero1x-min.png" alt="girl" />
    </picture>

    <ul class="service-point list animated bounceInLeft">
      <li class="service-point__item">
        <span class="service-point__number">16</span>
        <span class="service-point__text">cafes</span>
      </li>
      <li class="service-point__item">
        <span class="service-point__number">23</span>
        <span class="service-point__text">food trucks</span>
      </li>
    </ul>
  </div>
</section>
