<div class="mob-menu is-hidden">
  <svg width="14" height="14">
    <use href=""></use>
  </svg>
  <button class="">Buy now</button>

  <ul class="mob-menu__mob-list list">
    <li><a href="" class="mob-menu__mob-list__item">Home</a></li>
    <li><a href="" class="mob-menu__mob-list__item">About us</a></li>
    <li><a href="" class="mob-menu__mob-list__item">How it’s made?</a></li>
    <li><a href="" class="mob-menu__mob-list__item">Our products</a></li>
    <li><a href="" class="mob-menu__mob-list__item">Contact</a></li>
  </ul>
</div>
