<div class="backdrop is-hidden" milkshake-modal>
    <div class="modal">
      <div class="modal-window">
      
      <h2 class="modal-title">Milkshakes</h2>
      <p class="products-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
          Facere numquam repellendus odio sed debitis, 
          magnam nesciunt eaque accusamus placeat est odit a? 
          Totam eveniet fuga atque a repellat eius dolores porro unde fugiat 
          mollitia iusto ipsa quaerat voluptatum, in recusandae numquam nobis? 
          Quam eaque assumenda dignissimos, fugit eligendi delectus numquam soluta 
          amet tempore quibusdam necessitatibus accusantium, saepe praesentium odit commodi, 
          provident asperiores ut consectetur officia officiis consequatur possimus quisquam? 
          Dolore impedit maiores eligendi suscipit sequi nulla. Repudiandae inventore, debitis animi 
          est quo enim quis ex soluta nobis numquam nulla rem officiis architecto natus exercitationem. 
          Odit non nisi beatae! Nostrum ad totam, fugiat iusto ea quae quisquam accusantium 
          necessitatibus delectus! Laborum facere a sapiente nam optio aperiam porro, 
          est quas cum? Adipisci deleniti incidunt quasi accusamus iusto quibusdam 
          eius illum recusandae!</p>
        <button class="button button-checkbox" type="button" milkshake-modal-close>CLose</button>
        </div>
      </div>
    </div>

