<div class="backdrop is-hidden" contacts-modal>
  <div class="modal">
    <div class="modal modal-window modal_contacts">
      <h2 class="modal-title">Our locations</h2>
      <iframe
        class="modal__iframe"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.2213679351007!2d-87.61691698508747!3d41.86658347411477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2bcdde2e3dbf%3A0x788a2cf03bc86a57!2sIce%20cream!5e0!3m2!1sru!2str!4v1642599559830!5m2!1sru!2str"
        width="400"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
      <button class="button button-checkbox" type="button" contacts-modal-close>CLose</button>
    </div>
  </div>
</div>
