<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <div class="modal-window">
      <button type="button" class="modal-button" data-modal-close>
        <svg class="close-button" width="18" height="18">
          <use href="./images/sprite.svg#icon-house"></use>
        </svg> 
      </button>  
      <p class="modal-title">Leave your contacts,we would call you back</p>
      <form class="form-list">
        <div role="group" class="contact-form"> 

        <label class="form-item" for="name">Name</label>
          <div class="input-icon">
          <input class="modal-input" type="text" id="name" name="name" placeholder=" ">
            <!-- <svg class="form-icon">
            <use href="./images/sprite2.svg#person-black"></use>
            </svg> -->
          </div>
     

        <label class="form-item" for="tel">Phone</label>
          <div class="input-icon">
          <input class="modal-input" type="tel" name="tel" id="tel" placeholder=" ">
          <!-- <svg class="form-icon">
            <use href="./images/sprite2.svg#telephone"></use>
          </svg> -->
        </div>

        <label class="form-item" for="email">E-mail</label>
          <div class="input-icon">
          <input class="modal-input" type="email" name="email" id="email" placeholder=" ">
          <!-- <svg class="form-icon">
            <use href="./images/sprite2.svg#email-black"></use>
          </svg> -->
        </div>  

        <label class="form-item" for="textarea">Comment</label>
        <textarea class="comment" name="comment" id="textarea" cols="30" rows="6" placeholder="write her"></textarea>


        <button class="button button-checkbox" type="submit">Send</button>
        </div>
        
      </form>
      </div>
    </div>
  </div>
 