<section id="products" class="products">
  <div class="container">
    <span class="products__label">100% natural</span>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item__first">
        <h3 class="products__list-subtitle">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="button__arrow-right" type="button" product-modal-open />
      </li>
      <li class="products__item products__item__second">
        <h3 class="products__list-subtitle">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="button__arrow-right" type="button" coffee-modal-open />
      </li>
      <li class="products__item products__item__third">
        <h3 class="products__list-subtitle">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="button__arrow-right" type="button" milkshake-modal-open />
      </li>
    </ul>
  </div>
</section>
