.about {
  padding-top: 125px;
  margin-left: auto;
  margin-right: auto;
  background-color: $primaryBgColor;

  @media screen and (min-width: 768px) {
    padding-top: 130px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 125px;
  }
}

.about__main {
  @media screen and (min-width: 1200px) {
    max-width: 1280px;
    background-repeat: no-repeat;
    background-image: url(../images/desctop/sectionbg-desctop.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/desctop/sectionbg-desctop@2x.png);
    }
    background-position: bottom;
  }
}
.about__titles-about {
  text-align: center;
  padding-left: 59px;
  padding-right: 61px;
  margin-bottom: 26px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 55px;
  }
}
.about__labl-about {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.166;
  color: $titlePinkColor;

  text-align: center;
  text-transform: uppercase;
  margin: 0;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.153;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.133;
  }
}

.about__title-about {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accentColor;
  margin-top: 15px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.145;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.137;
  }
}
.about__main-specification-about {
  max-width: 480px;
  text-align: center;
  background-image: url(../images/mobile/sectionbg-mob.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/mobile/sectionbg-mob-@2x.png);
  }
  background-repeat: no-repeat;
  background-position: bottom;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    display: flex;
    padding-left: 39px;
    background-image: none;

    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1280px;
    padding-left: 112px;
  }
}
.about__text {
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    margin-left: 17px;
    margin-right: 36px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 74px;
    margin-right: 115px;
  }
}

.about__text-first-about {
  font-family: 'DM Sans Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: $blackTextColor;

  padding-left: 50px;
  padding-right: 50px;
  margin-top: 46px;
  margin-bottom: 32px;
  text-align: left;
  @media screen and (min-width: 768px) {
    font-style: medium;
    font-size: 14px;
    line-height: 1.78;
    padding: 0;
    margin-bottom: 32px;
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
  }
}
.about__text-second-about {
  font-family: 'DM Sans Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $primarySmallTextColor;

  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.75;
    padding: 0;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.928;
  }
}
.about__text-third-about {
  font-family: 'DM Sans Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $primarySmallTextColor;

  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  padding-top: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.785;
    padding: 10px 0 0 0;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.928;
  }
}
.title-btn-about {
  display: block;
  justify-content: center;
  border-radius: 22px;
  min-width: 176px;
  min-height: 44px;
  border: 1px solid transparent;
  padding-left: 32px;
  padding-right: 37.96px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $whiteTextColor;
  margin-top: 17px;
  margin-left: 50px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $accentColorBtn;
    box-shadow: 0px, 4px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 768px) {
    margin-top: 62px;
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 45px;
  }
}
#more {
  display: none;
}
