.btn {
  padding: 7px 13px;
  background: $whiteTextColor;
  color: $accentColor;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  align-items: center;
  text-align: center;
  &:hover {
    background-color: $btnAccentColor;
  }
}

.btn--pink {
  padding: 7px 13px;
  background: $accentColor;
  color: $whiteTextColor;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  &:hover {
    background: #c7133e;
  }
}
