.contacts {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-family: 'DM Sans Medium';
  background-image: linear-gradient(to bottom, #fff 6%, #fff5f6 6%, #fff5f6 94%);

  @media screen and (min-width: 768px) {
    padding-top: 33px;
    background-image: linear-gradient(to bottom, #fff 15%, #fff5f6 15%, #fff5f6 85%);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 46px;
    background-image: url(../images/desctop/desctop-contacts-x1.png),
      linear-gradient(to bottom, #fff 15%, #fff5f6 15%, #fff5f6 85%);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/desctop/desctop-contacts-x2.png),
        linear-gradient(to bottom, #fff 15%, #fff5f6 15%, #fff5f6 85%);
    }
  }
}

.contacts-wrap {
  display: flex;
  justify-content: center;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 54px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    // margin-right: -20px;
    margin-bottom: 81px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 86px;
    // margin-right: -31px;
  }
}

.contacts__item {
  height: 427px;
  width: 220px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  padding: 43px 20px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px #d414431a;
  background-color: #fff;
  @media screen and (min-width: 768px) {
    height: 544px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    margin-bottom: 0;
    padding: 50px 31px;
  }
  @media screen and (min-width: 1200px) {
    height: 572px;
    width: 330px;
    &:not(:last-child) {
      margin-right: 31px;
    }
    padding: 51px 43px;
  }
}

.contacts__name {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 25px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $whiteTextColor;
  background-color: #f0d1a5;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.contacts__name--green {
  background-color: $greenColor;
}

.contacts__city {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: $blackTextColor;
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts__about {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $primarySmallTextColor;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
    padding-bottom: 32px;
    font-size: 16px;
  }
}

.work-time {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    padding-bottom: 15px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
    padding-bottom: 16px;
  }
}
.work-time__item {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}
.work-time__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.work-time__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $titlePinkColor;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.communication__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $primarySmallTextColor;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contact-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.contact-btn__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 15px;
    }
    &:first-child {
      margin-bottom: 0;
    }
  }
}

.contact-btn__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 162px;
  height: 44px;
  font-family: 'DM Sans Bold';
  font-size: 16px;
  line-height: 1.3;
  @media screen and (min-width: 768px) {
    min-width: 190px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 198px;
  }
}

.contact-btn__icon {
  margin-left: 8px;
}

.contact-btn__icon--pink {
  margin-left: 13px;
}
