.footer {
  background-color: $primaryBgColor;
}
.footer-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    min-width: 340px;
    padding-top: 7px;
  }
}

.footer-title-one {
  font-family: 'Titan One';
  padding-left: 5px;
  padding-bottom: 17px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: $titlePinkColor;
  @media screen and (min-width: 768px) {
    font-family: 'Titan One';
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    padding-left: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 60px;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.footer-title-two {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accentColor;
  padding-left: 5px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    padding-left: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 60px;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
}

.footer-social {
  margin-top: 44px;
  padding-left: 135px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    padding-left: 198px;
    padding-right: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-right: 65px;
  }
}

.join-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $whiteTextColor;
  background-color: $titlePinkColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $whiteTextColor;
  }
}

.join-social-item {
  width: 32px;
  height: 32px;
  margin-right: 28px;
}

.join-social-item:nth-child(3n + 3) {
  margin-right: 0px;
}

.join-social-list {
  display: flex;
  justify-content: center;
}

.join-social-icon {
  fill: $accentColor;
}

.footer-contact {
  padding-top: 46px;
  padding-bottom: 43px;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    padding-top: 46px;
    padding-left: 0px;
    justify-content: flex-end;
    padding-right: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-right: 65px;
  }
}

.contact-text {
  font-family: 'DM Sans Bold';
  font-size: 12px;
  line-height: 186%;
  color: $blackTextColor;
  padding-left: 55px;
  padding-right: 3px;
  @media screen and (min-width: 768px) {
    padding-left: 0px;
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;

    letter-spacing: 0.02em;
  }
}

.contact-number {
  font-family: 'DM Sans Bold';

  font-size: 12px;
  line-height: 186%;
  color: $accentColor;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;

    letter-spacing: 0.02em;
  }
}
.tablet-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 91px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.social-contact-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.copy {
  background-color: $primaryBgColor;
  border-top: 1px solid #e1e1e1;
}

.copy-text {
  font-family: 'DM Sans Bold';
  color: $primarySmallTextColor;
  max-width: 140px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 25px;
  margin: auto;

  @media screen and (min-width: 768px) {
    max-width: 276px;
  }
  @media screen and (min-width: 1200px) {
    letter-spacing: 0.02em;
  }
}
