.hero__section {
  position: relative;
  padding-top: 58.4px;
  height: 502px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    height: 399px;
    padding-top: 87px;
  }

  @media screen and (min-width: 1200px) {
    height: 665px;
  }
}

.hero {
  background-color: $lightPinkColor;
}

.hero__box {
  position: absolute;
  top: 83px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background: $titlePinkColor;

  @media screen and (min-width: 768px) {
    top: 31px;
    left: 307px;
    width: 324px;
    height: 322px;
  }

  @media screen and (min-width: 1200px) {
    top: 52px;
    left: 475px;
    width: 538px;
    height: 538px;
  }
}

.hero__title {
  position: absolute;

  width: 218px;
  top: 102px;
  left: 20px;

  @media screen and (min-width: 768px) {
    top: 102;
    left: 34px;
    width: 162px;
  }
  @media screen and (min-width: 1200px) {
    top: 171px;
    left: 115px;
    width: 277px;
  }
}

.hero__text {
  font-family: 'Titan One';
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $whiteTextColor;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__text--different {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: $accentColor;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 0.9;
  }
}
.hero-icecream__img {
  position: absolute;
  top: 9px;
  left: 81px;
  width: 171px;
  height: 410px;
  @media screen and(min-width:768px) {
    width: 143px;
    height: 336px;
    top: 32px;
    left: 71px;
  }

  @media screen and(min-width:1200px) {
    width: 236px;
    height: 557px;
    top: 56px;
    left: 119px;
  }
}

.hero__btn-section {
  display: flex;
  margin-top: 19px;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 25px;
  }
}

.hero__btn {
  font-family: 'DM Sans Regular';
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.btn-products {
  margin-right: 8px;
  @media screen and (min-width: 1200px) {
    margin-right: 17px;
  }
}

.hero-milk {
  @media screen and (max-width: 767.5px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    position: absolute;
    bottom: 28px;
    left: 34px;
    align-items: flex-end;
  }

  @media screen and (min-width: 1200px) {
    bottom: 45px;
    left: 77px;
  }
}

.hero-milk__img {
  width: 124px;
  height: 126px;

  @media screen and (min-width: 1200px) {
    width: 188px;
    height: 191px;
  }
}

.milk-text-section {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.hero-milk__text {
  font-family: 'DM Sans Regular';
  font-size: 8px;
  line-height: 1.5;
  color: $whiteTextColor;
  width: 114px;

  @media screen and (min-width: 1200px) {
    width: 200px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.hero-girl__img {
  @media screen and (max-width: 767.5px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    right: 34px;
    width: 168px;
    height: 133px;
  }

  @media screen and (min-width: 1200px) {
    width: 293px;
    height: 232px;
    right: 109px;
  }
}

.button-arrow {
  margin-top: 7px;
  margin-bottom: 6px;
  display: block;
  border-radius: 50%;
  border: none;
  width: 18px;
  height: 18px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmxJREFUeNrUmc9LG0EUx2cXzUGNlCYgalCLRb1XwavxKl7EX3+AglC82Vt7qIUWT6VQkmrpqQdBPIjiTT16MJ4UMaKgIdaKsRSqUi1k+n3hDYRWaXZ33J1+4ZPNZrMz330zOzP71pJSCheyQQfoAu2gBdSDSj5+CY7BHkiBNbAB8o5rIoMOiIHXICOdK8PnxpzUWeofI+A9uJbedc1lRXQZHABnUr+ozEEvBstAQt6/ElyXI4MVYFH6p0WusySDdDUL0n8t3BbJ2wwmZXBK/svgoAxew8WerKKBOgJ2QVQEq2+gDZypGUHplQHmSA/BpNpREWwA+6BcmKFf4DHIqAiOGWROsJcxFUEyeQRiwixlQaNalZhmTrCnDjIY11Yk+vPJxFtxOjmjq8SuMnw80VXazdGJ+D6/IvI/rgr7Nc9HvBbZThFs1WUw1FQnmuamhB2uELl3szoi2UqjdU73VHCV2pE7j3rkdjQuv76c9lJUjpo47Pbydpt77+6OP28KW4ok9c2aF6NuqgjbvtyPluXlxjO7icnglqHmSFvUxGltw8zhF3HY/6wwzETHh3QMM2m6STZBn5ZhprFWPOjrFnZ1pQ5zpBTNxZ34si7MVOd/sVigdMRnA6NHnvJqwUrRO6BuZIg5GuWbKYp2UTg/GhS9T+zpr4emNG+D1DkvYM7/fGiiH54aEL1xZe6u9FuQD+4fSskshAJMfYScJI+WfTS35CR5pCj3qbmTXJfrBObQPSYwh3WlgKOcaNSVAk5wmdpy1MVJ9Dcg68JYls91lES3PL6GiPNjawtPl1V8/IJngj1ezq26fQ3xW4ABAFkjuA97cJ0jAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 1200px) {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}
.service-point {
  @media screen and (max-width: 767.5px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 94px;
    right: 42px;
  }

  @media screen and (min-width: 1200px) {
    top: 156px;
    right: 115px;
  }
}

.service-point__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 50px;
  @media screen and (min-width: 1200px) {
    flex-basis: 70px;
  }
}

.service-point__item:not(:last-child) {
  margin-bottom: 13px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}
.service-point__number {
  font-family: 'Titan One';
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  z-index: 10;
  color: $accentColor;
  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: 1.15;
  }
  &::before {
    content: '';
    position: absolute;
    z-index: -5;
    top: -2px;
    right: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $whiteTextColor;
    @media screen and (min-width: 1200px) {
      width: 30px;
      height: 30px;
      top: -5px;
      right: -15px;
    }
  }
}
.service-point__text {
  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: $whiteTextColor;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.3;
  }
}
